
 h1,h2,h3,h4,h5,p,img,ul,iframe { 																				/* CORECTIF BUG NAVIGATEUR */
 	margin:0;
 }
 iframe{
border:none;
}



body { 																									/* Géneralité */
	max-width: 450px;
}
h1, h2 , nav>ul>li {	
	text-align: center;
}
h2 { 
	padding: 10px;
	padding-bottom: 10px; 
}
h4 { 
	padding: 10px; 
}
h5 { 
	text-align: right;
}
h6 { 
	display:none;
}
li { 
	list-style: none;
}																								
ul {
	padding: 0;
}
a { 
	text-decoration: none;
}	
img {
    height: 100%;
}
p{ 
	padding: 15px;
}
.separation { 
	padding: 6px; 
}
header>a>img, header>nav:hover>ul , .bouton {															/* Display Block */
display: block;
}
.col1 , .col2, header>nav>img:first-of-type, .twitter , .facebook , .youtube , .mailto , .mmi , .col2a{	/* Display inline-block */
display: inline-block;
}
.bouton {																						/* Float right */
float:right;
}
header>nav , header>nav>img:first-of-type  {																/* Position fixed */
	position: fixed;
}
img, header>nav {																						/* Whidth 100% */
	width: 100%;
}



header>a>img , .traittypo{																				/* Centrer */
	margin-right: auto;
	margin-left: auto;
}


.col1 , .col2 , .col2a , header>nav:hover>ul , header>nav>img:first-of-type{ 							/* Vertical-align top */
	vertical-align: top;
}



.col1{ 																									/* Colones Articles */
	margin-top:20px;
	margin-left:10px;
	width: 30%;
	height:30%;
}
.col2{ 
	margin:5px;
	width: 60%;
	height:60%;
}
.col2a{ 
	width: 60%;
	height:60%;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 5px;
}
.col2a>p{ 
	padding: 3px;
	margin: 0px;
}




header>a>img{																							/* MISE EN FORME HEADER */
    width:70%;
}




header>nav>ul { 																						/* MENU */
	display: none;
}									
header>nav>img:first-of-type {
	float: left;
	padding: 10px;
	padding-top: 10px;
	width: 60px;
	height: 60px;    
}
header>nav>ul>li { 
	border-top: solid 1px black;
}
header>nav>ul>li:last-of-type{ 
	border-bottom: solid 1px black;
}



.traittypo { border-bottom: solid 1px black;														/* Trait Typographique*/
	width: 80%;
	margin-top: 15px;
	margin-bottom: 15px;
}



.bouton>a{																							/* Boutons */
	border: 2px solid;
	border-color: #a4c7c9;
	padding:7px;
	padding-top: 13px;
	padding-bottom: 13px;
	
}
.bouton{
	margin:20px;
	margin-right: 15px;
}

footer>p{												/* FOOTER */      
display: block;
width: 70%;
padding: 10px;
}
a[href*='https://www.youtube.com/channel/UCG_xTsbjF0kRtk6_tOBr1-w']{

	display : inline-block;
	width : 28px;
	height : 28px;
	margin: 2px;
}
a[href*='https://twitter.com/mmimontbeliard?lang=fr']{
	display : inline-block;
	width : 28px;
	height : 28px;
	margin: 2px;
}

a[href*='https://www.facebook.com/mmimontbeliard/']{
	display : inline-block;
	width : 28px;
	height : 28px;
	margin: 2px;
}

a[href*="mailto:pierson.alban@hotmail.fr"]{
	display : block;
	width : 100px;
	height : 25px;
	float:right;
	margin: 4px;
	margin-right: 10px;
	margin-top: 10px;
}
a[href*='http://mmimontbeliard.com/']{
	display : block;
	width : 40px;
	height : 40px;
	margin-right: 10px;
	float: right;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
	background : transparent url(images-interface/logo_mmi.png) no-repeat;
}
a[href*="mailto:pierson.alban@hotmail.fr"],a[href*="facebook.com"],a[href*="twitter.com"],a[href*="youtube.com"]{																							/* Boutons */
	border: 4px solid;
	border-color: #102034;
	
}
.mmi {
	width:10%;
	height:10%;
}


.projet { 																				/* PAGE AUTRE PROJET */
display: block;
width:88%;
height:10%;
border: solid 1px black;
margin-right: 10px;
margin-left: 10px;
margin:20px;
padding: 5px;
}

.long { 
display: block;
width: 30%;
height: 25%;
float: right;
padding-top: 10px;
background-size: cover;
vertical-align: top;
}

.autre { 
display: block;
width: 20%;
height: 20%;
float: right;
background-size: cover;
vertical-align: top;
}


.carre { 
display: block;
width: 12%;
height:12%;
float: right;
background-size: cover;
vertical-align: top;
}

.projet>p{ 
padding:2px;
}

.projet>p:first-of-type { 
border-bottom : solid 1px black;											
width: 50%;
margin-right: 10px;
}

.phiecol1, .phiecol2 { 																				/* Bibliographie / Filmographie */
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 20px;
	vertical-align: top;
}
.phiecol1 {
width: 60%;
}
.phiecol2{ 																				
width: 30%;
}

.phiecol1>p , .phiecol2>p { 																				
padding: 5px;
}
.phiecol1>p:first-of-type , .phiecol2>p:first-of-type { 																				
border-bottom: 1px solid black;
padding: 2px;
padding-top: 8px;
width: 40%;
}

.miseee > p:last-of-type{
text-align: right;
padding: 2px;
}




